body {
    background: linear-gradient(to bottom right, magenta, cyan);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .spinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: l2 1s infinite linear;}
  .spinnerText{
     position: absolute;
      top: 51%;
      left: 50%;
    transform: translate(-50%, -50%);
      font-size: 14px;
      color: white;
      font-weight: bold;
  }
  @keyframes l2 {to{transform: rotate(360deg)}}